node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.next
.vercel

*.tsbuildinfo
next-env.d.ts

.env*.local
.env

.git
.gitignore

README.md
docker-compose.yml
.dockerignore

uploads 